body {
    background: white;
}

.main-wrapper {
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
}
.logo {
    width: 30%;
    display: block;
}
.search {
    width: 48%;
    display: block;
}
